<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavosouza.tuelhogame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tuelho2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.VIBRATE" />

        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Creditos" />
        <activity android:name=".Game" />
        <activity android:name=".gerarnotificacao" />
        <activity android:name=".TuelhoMorreu"></activity>
    </application>

</manifest>